
.cover{
    background-size:cover;
}
.cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
.transition{
        transition: .5s;
    }
figure{
    margin: 0;
    padding: 0;
}
 a{
    text-decoration: none;    
}
a:hover{
    text-decoration: none;
}
.cover-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.transition{
    transition: .5s;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

ul li{
    list-style: none;
}
.title{
    position: relative;
    padding:0 ;
    /* margin-top: 100px; */
    align-items: center;
    justify-content: center;
}
.title img{
   width: 200px;
   margin: 0 10px;
}
.title h2{
    color: #fff;
    font-size: 4rem;
    margin: 0;
    font-family: 'Germania One', cursive;
}

.brightness:hover{
        filter:brightness(170%)
    }

.border{
    background-clip: border-box;
}
@media screen and (max-width: 768px){
    .link-logo{
    height: 50px;
}
.title img{
    max-width: 30%;
 }
 .title h2{
    font-size: 3rem;
    
}
}
/* --------------主選單------------- */
header{
   
    background:rgba(0, 0, 0, .8);
    border-bottom: 3px solid #cfa972;
    padding:  3px 0;
    position: fixed;
    top:0;
    z-index: 20;
    width: 100%;
}
.top-menu{
    align-items: center;
    justify-content:center;
    position: relative;
}
.top-menu ul {
  margin: 0;
  padding: 0;
}
.top-menu>.nomal-menu >li {
display: flex;
justify-content: center;
align-items: center;
width: 150px;
height: 40px;
margin: 0px 10px;
}

.top-menu li a{
    color: #fff;
    margin: 10px;
    font-size: 1.5rem;
    font-family: 'Germania One', cursive; 
    position:relative;
    transition: .5s;
    text-align: center;
}

.nomal-menu li a::after{
    content:"" ; 
    display: block;
    background:#fff;
    width: 0%;
    height: 1px;
    position:absolute;
    left:50%;
    bottom:2px;
    transform: translate(-50%);
    transition: .5s
 }
 .nomal-menu li a:hover::after{
   width: 100%;
 }

 .nomal-menu>li.curr>a{
    color: #cfa972; 
}
.nomal-menu>li.curr>a::after{
    content:"" ; 
    display: block;
    background: #cfa972;
    width: 100%;
    height: 1px;
    position:absolute;
    left:50%;
    bottom:2px;
    transform: translate(-50%);
}

.heard-logo{
    height: 5px;
    width: 65px;
    margin: 0 10px;
}
.heard-logo img{
    height: 80px;
    position:absolute;
    top:0px;
}
.hamburger-menu {
    display: none;
}
@media screen and (max-width: 992px){
.heard-logo{
        display: none;
    }
.top-menu>.nomal-menu >li {
    display: none;
  }
ul.hamburger-menu >ul {
    display: none;
     }
ul.hamburger-menu.open >ul {
 position: fixed;
 top: 3.5em;
 left:0;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width: 100%;
 height: calc(100% - 3em);
 padding: 20% 0;
 background-color: rgba(0, 0, 0, .8);
box-sizing: border-box;
}

.hamburger-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.hamburger-menu >a{
    margin-left: 5% ;
}
#menu-switch {
    position: relative;
    display: block;
    margin-right: 5% ;
    cursor: pointer;
}
#menu-switch>img {
    height: 100%;
    position: relative;
    max-width: 100%;
}
#menu-switch >img:nth-child(1) {
    display:block;
}
#menu-switch >img:nth-child(2) {
    display:none;
}
ul.hamburger-menu.open>#menu-switch >img:nth-child(1) {
    display:none;
}
ul.hamburger-menu.open>#menu-switch >img:nth-child(2) {
    display:block;
}
}
/* --------------FOOTER部分------------- */
footer{
    position: relative;
    display: block;
    text-align: center;
    padding: 30px 0;
    background: #13141c;
    border-top: 3px solid #cfa972;
    padding:  10px 0;
}

.footer-link{
    justify-content:center;
    margin: 0px 20px;
}
.footer-link a{
    margin: 5px 10px;
    /* width: 20%; */
}
.link-logo{
    width: 35%;
    height:100%;
}
.copyRight{
    padding: 0px 10px;
    color: #fff;
    font-size: .5rem;
    margin:0;
}
@media screen and (max-width: 768px){
    .footer-link a{
        margin: 5px 2px;
    }
    }
/* --------------TOP頁面------------- */
/* --------------首頁大圖區------------- */
    .main-cover{
        /* background: #000; */
        position: relative;
        height: 90vh;
        overflow: hidden;
    }
    .main-img{
        width: 100%;
        height: 100vh;
        position: absolute;   
    }
    .slideshow{
        padding: 0;
    }
    .cover-01{
        background: url(images/main-img.png);
        background-size: cover;
      
    }
    .cover-02{
        background: url(images/main-img-2.png);
        background-size: cover;
    }
    .cover-03{
        background: url(images/main-img-3.png);
        background-size: cover;
    }
  
    .word-logo-left{
        position: absolute;
        left:10%;
        top: 15%;
        z-index: 5;
    }
    .titie-logo{
        width: 500px;
    }
    .word-logo-right{
        position: absolute;
        left:85%;
        top: 10%;
        z-index: 5;
    }
    .word-logo{
        height: 750px;
    }
    .main-img figure{
        margin: 0;
    }
    .word-logo-right img{
        height: 550px;
     }
    @media screen and (max-width: 1200px){
    .titie-logo{
        max-width: 90%;
    }
    .word-logo-left{
        position: absolute;
        left:5%;
        top: 30%;
        z-index: 5; 
     }
     .word-logo-right img{
        height: 500px;
     }
    }
    @media screen and (max-width: 768px){
    .titie-logo{
            max-width: 300px ;
        }
    .word-logo-left{
        position: absolute;
        left:50%;
        top: 45%;
        z-index: 5;
        transform: translate(-45%);
        }
    .word-logo-right img{
        height: 350px;
     }
    }
/* -------------STORY頁面-------------- */ 
main{
    display: block;
    flex:1 0 auto;
    background: url(images/bg-versailles-2.png) repeat center  center;
    background-size: auto;
    min-height: 0;
}
article{
    padding: 90px 0 60px;
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
article > section{
    /* height: calc(100vh); */
    min-height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section>img{
   
   max-width: calc(100% - 2em);
   display: block;
   position: relative;
    
}
section p{
    font-size: 1.5em;
    letter-spacing:10px;
    line-height: 50px;
    margin: 30px;
    text-shadow: 0 0 1px  black ;
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
    font-style:italic;
    color:white;
    
}
section span{
    color:#ef022f;
    
}

#bg-wrapper{
    position: fixed;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
}
#bg-wrapper::before{
    background-image: url(images/story-1.png);
    opacity: 1;  
}

#bg-wrapper::after{
    background-image: url(images/story-3.png);
    opacity: 0;  
}
#bg-wrapper.chg::before{
    opacity: 0;  
}
#bg-wrapper.chg::after{
    opacity: 1;  
}
#bg-wrapper::before,#bg-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
}
@media screen and (max-width: 768px) {

    main{
        flex:1 0 auto;
        background: url(images//story-4.png) no-repeat center center ;
        background-size: cover;  
    }
    #bg-wrapper{
        display:none;
    }
    section>img{
    max-width:95%;
     }
    section p{
        color:#fff;
        font-size: 1.2em;
        letter-spacing:7px;
        line-height: 40px;
    }
}

/* -------------CHARACTER頁面-------------- */ 
/* -------------character頭像-------------- */
.main-content{
    padding: 90px 0 0 0;
    background-color: rgba(0, 0, 0, .8);
    background: url(images/bg-versailles.png) no-repeat center;
    background-color: #000;
    top:0;
    position: relative;
    height: 100%;
    overflow: hidden;
   
}
.main-content> .container{
    padding: 0;
}
.character-tab {
    width: 100%;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    padding: 0 10px;
    margin: 5px 0 10px 0;
    overflow: auto;
}
.character-tab ul{
    justify-content: center;
    text-align: center;
    padding: 0;
    margin:0;
    overflow-x:auto;
}
.character-tab li{
    display:inline-block ;
    cursor: pointer;
    border:3px solid transparent;
    margin: 10px 10px;
    background: rgba(0, 0, 0, .8);
    opacity: .5;
}
li.active{
    border:3px solid #cfa972;
    opacity: 1;
}
.character-tab img{
    width: 120px; 
}

/* ------------character區--------------- */
.character-div{
display: flex;
position: relative;
justify-content: center;
}
.prev {
   position: absolute;
   left:10px;
   top:50%;
   z-index: 10;
   cursor: pointer;
}
.next {
position: absolute;
   right:10px;
   top:50%;
   z-index: 10;
   cursor: pointer;
}
/* #fixed{
  top: 0;
  left: 0;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
} */
.chara_slide{
   width: 300%;
   position: relative;
  left: 0;
}
.wraper-chara-one{
    position: relative;
    float: left;
    width: 33.3333333%;
    overflow: hidden;
}
.ch-box{
    background: rgba(0, 0, 0, .7);
    width: 390px;
    margin: 100px 0 20px 0;
    border-radius: 10px;
    border: 6px double  #cfa972; 
    position: relative;
}

.ch-box2{
    background: rgba(0, 0, 0, .7);
    width: 390px;
    height: 200px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border:3px solid #cfa972;
}
.ch-box2 > a::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;  
    transition: .3s;
}
.ch-box2 > a::after{
    content: "\FF0B";
    position: absolute;
    display: block;
    right:10px;
    bottom:10px;
    width: 1em;
    height: 1em;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1em;
    color:#cfa972; 
}
.ch-box2 > a:hover:before{
    opacity: 0;  
}

.padding{
    padding: 15px;
}

.ch-word h2,p{
   color: #fff;
   margin: 3px 0 0 0;
}
.name{
 margin-bottom: 15px; 
}

.name h2{
   font-size: 2.5rem;
}
.name p{
   font-size: 1.5rem;
}

.ch-img img{
   margin: 20px 0;
   height: 1000px;
}

@media screen and (max-width: 1200px){
.main-content{
    padding: 100px 0 30px 0;
}
.character-div{
    flex-wrap: wrap;
    align-items: center;
}
.ch-img{
    margin: 0 auto;
}
.ch-word{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.ch-img img{
   height: 800px;
}
.ch-box{
    margin: 0 50px;
    width:100%;
}
.ch-box2{
    margin: 10px 50px;
    width:100%;
}
}
@media screen and (max-width: 768px){
    .ch-img img{
       height: 600px;
    }
}
/* -------------GALLERY頁面-------------- */ 
div#gallery>ul{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 10px ;
}
div#gallery>ul>li{
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
}
div#gallery>ul>li:nth-child(1)>a::before{
    background: url(images/gallery01.png);
 } 
 div#gallery>ul>li:nth-child(2)>a::before{
    background: url(images/gallery02.png);
 } 
 div#gallery>ul>li:nth-child(3)>a::before{
    background: url(images/gallery03.png);
 } 
 div#gallery>ul>li:nth-child(4)>a::before{
    background: url(images/gallery04.png);
 } 
 div#gallery>ul>li:nth-child(5)>a::before{
    background: url(images/gallery05.png);
 }
 div#gallery>ul>li:nth-child(6)>a::before{
    background: url(images/gallery06.png);
 } 
 div#gallery>ul>li:nth-child(7)>a::before{
    background: url(images/gallery07.png);
 }
 div#gallery>ul>li:nth-child(8)>a::before{
    background: url(images/gallery08.png);
 }
 div#gallery>ul>li:nth-child(9)>a::before{
    background: url(images/gallery09.png);
 }
 div#gallery>ul>li:nth-child(10)>a::before{
    background: url(images/gallery10.png);
 }
 div#gallery>ul>li:nth-child(11)>a::before{
    background: url(images/gallery11.png);
 }
 div#gallery>ul>li:nth-child(12)>a::before{
    background: url(images/gallery12.png);
 }

 div#gallery>ul>li>a::before{
     content: "";
     position: absolute;
     top:0;
     left:0;
     bottom: 0;
     display: block;
     width: 100%;
     height: 100%;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     margin: auto;
     transform: scale(1.0); 
     transition: .5s;
  } 
  div#gallery>ul>li>a:hover::before{
    transform: scale(1.2); 
 } 
  
 div#gallery>ul>li> a::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    opacity: 1;  
    transition: .3s;
}

div#gallery>ul>li> a:hover::after{
    opacity: 0;  
}
/* .gallery-box{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border:3px solid #cfa972;
    position: relative;
}
.gallery-area{
    background: rgba(0, 0, 0, .7);
    margin: 10px auto;
    margin-bottom:20px;
    padding: .5em;
}    
.gallery-area>ul{
    display: block;
    padding: 0;
    margin: .1em .1em;
}   
.gallery-area>ul>li{
    display: block;
    float:left;
    padding: 4px;  
    margin: .5em ;    
}
.gallery-area>li:nth-of-type(1){
   background: url(images/gallery01-b.png);
} 
.gallery-area>li::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    z-index: -1;
    transform: scale(1.0); 
    transition: .5s;
 } 

.gallery-area>li>a{
    display: block;
    cursor: pointer; 
} 
.gallery-box > a::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    opacity: 1;  
    transition: .3s;
}  
.gallery-box > a::after{
    content: "\FF0B";
    position: absolute;
    display: block;
    right:10px;
    bottom:10px;
    width: 1em;
    height: 1em;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1em;
    color:#cfa972; 
} 
.gallery-box > a:hover::before{
  opacity: 0;     
}  
@media screen and (max-width: 768px){
    .gallery-box{
        background: rgba(0, 0, 0, .5);
        width: 90%;
        margin: auto;
      
    }
    .gallery-area{
        background: rgba(0, 0, 0, .7);
        margin: 10px auto;
        margin-bottom:5px;
        padding: 2em;
    }   
    .gallery-area>ul{
        flex-direction: column;
        padding: 0;
        margin: .1em .1em;
    } 
    
} */



